{% extends "mainApp/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        {% for lesson in lessons %}
        
            <div class="col-3 mt-4 mr-4 p-5 card bg-info text-light float-left">
                <h2><a class="text-light" href="{% url 'mainApp-home'%}{{project}}/{{ lesson.name }} ">{{ lesson.name }}</a></h2>
            </div>
        {% endfor %}
        <div class="col-3 mt-4 mr-4 p-5 card bg-info text-light float-left">
            {% csrf_token %}
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <button class="btn btn-info" type="submit"><b>CREATE ></b></button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %} 